<section class="main">
	<div class="main__inner">

		<div class="main__top column">

			<h1>
				#hackernoon-top-story stories <small>(3 763 results)</small>
			</h1>
			<p>
				Want the Top Headlines on Hacker Noon Delivered to Your Inbox, Weekly?
			</p>
			<p>
				➚ Create your free account and start getting The Tech Brief:
			</p>
			<p>
				A Curated Round-Up of the Best Stories Published on Hacker Noon, Personalized To Suit Your Interests. ➚
			</p>

		</div>


		<div class="main__wrapper">
			<ul class="main__wrapper-list tagged">

				<div class="main__wrapper-item">

					<!-- @@include('_card.html') -->

				</div>


			</ul>
		</div>
	</div>

</section>