/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
    line-height: 1.15;
  /* 1 */
    -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
    margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
    display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  /* 1 */
    height: 0;
  /* 1 */
    overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
    font-family: monospace, monospace;
  /* 1 */
    font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
    background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    border-bottom: none;
  /* 1 */
    text-decoration: underline;
  /* 2 */
    -webkit-text-decoration: underline dotted;
            text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
    font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
    font-family: monospace, monospace;
  /* 1 */
    font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
    border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
  /* 1 */
    font-size: 100%;
  /* 1 */
    line-height: 1.15;
  /* 1 */
    margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
    text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  /* 1 */
    color: inherit;
  /* 2 */
    display: table;
  /* 1 */
    max-width: 100%;
  /* 1 */
    padding: 0;
  /* 3 */
    white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
    overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  /* 1 */
    padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
    -webkit-appearance: textfield;
  /* 1 */
    outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button;
  /* 1 */
    font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
    display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
    display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
    display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
    display: none;
}

@font-face {
    src: url("../fonts/JBM-Bold.woff") format("woff"), url("../fonts/JBM-Bold.woff2") format("woff2");
  font-family: "JBM-Bold";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
    src: url("../fonts/JBM-Bold-Italic.woff") format("woff"), url("../fonts/JBM-Bold-Italic.woff2") format("woff2");
  font-family: "JBM-Bold-Italic";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
    src: url("../fonts/JBM-Regular.woff") format("woff"), url("../fonts/JBM-Regular.woff2") format("woff2");
  font-family: "JBM-Regular";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
    src: url("../fonts/JBM-Italic.woff") format("woff"), url("../fonts/JBM-Italic.woff2") format("woff2");
  font-family: "JBM-Italic";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: "JBM-Regular";
    font-size: 14px;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

body svg {
    fill: #3c3c3b;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

body a {
    color: #3c3c3b;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

body.dark {
    color: #fff;
    background-color: #212428;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

body.dark svg {
    fill: #fff;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

body.dark a {
    color: #fff;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

body.dark .footer {
    background-color: #3c3c3b;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

body.dark .header__theme-bright {
    display: none;
}

body.dark .header__theme-dark {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    outline: none;
    border: 1px solid #1c1c1c;
    padding: 0 45px;
    font-size: 20px;
    line-height: 40px;
    color: #1c1c1c;
    cursor: pointer;
}

.btn:hover {
    border: 1px solid #00b300;
    color: #00b300;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.modal-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 10px;
    width: 980px;
}

.modal-btns a {
    margin-right: 10px;
    margin-bottom: 10px;
}

.link {
    padding: 2px 0 1px;
    font-size: 12px;
    word-break: break-word;
    background-image: -o-linear-gradient(transparent 0%, transparent calc(50% - 9px), rgba(0, 255, 0, 0.35) calc(50% - 9px), rgba(0, 255, 0, 0.35) 100%);
    background-image: linear-gradient(transparent 0%, transparent calc(50% - 9px), rgba(0, 255, 0, 0.35) calc(50% - 9px), rgba(0, 255, 0, 0.35) 100%);
    background-position: 0 0;
    background-size: 100% 200%;
    -webkit-transition: all 120ms ease-in-out 0s;
    -o-transition: all 120ms ease-in-out 0s;
    transition: all 120ms ease-in-out 0s;
    cursor: pointer;
}

.link:hover {
    background-image: -o-linear-gradient(transparent 0%, transparent calc(50% - 9px), lime calc(50% - 9px), lime 100%);
    background-image: linear-gradient(transparent 0%, transparent calc(50% - 9px), lime calc(50% - 9px), lime 100%);
    background-position: 0 100%;
}

.burger {
    position: relative;
    display: none;
    width: 30px;
    height: 3px;
    background-color: #fff;
}

.burger::before {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
    transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
    -o-transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}

.burger::after {
    content: "";
    position: absolute;
    left: 0;
    top: -10px;
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
    transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
    -o-transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}

.burger.burger-active {
    background-color: transparent;
}

.burger.burger-active::after {
    top: 0;
    background-color: #000;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
    transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
    -o-transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}

.burger.burger-active::before {
    top: 0;
    background-color: #000;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
    transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
    -o-transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}

.header {
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: #0b0;
}

.header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 100%;
}

.header__top-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.header__logo {
    margin-left: 20px;
}

.header__logo-desktop {
    width: 248px;
    height: 40px;
}

.header__logo-mobile {
    display: none;
    width: 37px;
    height: 40px;
}

.header__social,
.header__top-item-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header__social-item {
    padding: 10px;
}

.header__social-item img {
    width: 20px;
    height: 20px;
}

.header__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header__btns .btn {
    margin: 0 5px;
    border: 1px solid transparent;
    padding: 0 10px;
    font-size: 14px;
    color: #fff;
}

.header__btns .btn:hover {
    border: 1px solid #212428;
    background-color: #62ff86;
}

.header__theme {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #008000;
    cursor: pointer;
}

.header__theme svg {
    width: 30px;
    height: 30px;
}

.header__theme-dark {
    display: none;
}

.header__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #003b00;
}

.header__menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header__menu-item {
    padding: 0 10px;
    line-height: 43px;
    color: #fff;
}

.burger__menu {
    display: none;
    padding: 0 10px;
}

.burger__menu .burger {
    background-color: #3c3c3b;
}

.burger__menu .burger::before,
.burger__menu .burger::after {
    background-color: #3c3c3b;
}

.burger__menu .burger.burger-active {
    background-color: transparent;
}

.main {
    padding-top: 100px;
}

.main__inner {
    margin: 0 auto;
    padding: 40px 10px;
    max-width: 1200px;
}

.main__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.main__top.column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.main__top.column p {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}

.main__top-title h1 {
    font-size: 40px;
}

.main__top-search .search-input {
    margin: 1rem 0;
    outline-color: #00bb00;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    width: 100%;
    font-weight: 700;
    font-size: 2rem;
    background: #f6f7f9;
}

.main__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 20px;
}

.main__bottom-item a {
    font-size: 20px;
}

.main__bottom-item.looking {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
}

.main__bottom-item.text {
    max-width: 700px;
    font-size: 20px;
    color: #3c3c3b;
}

.main__wrapper-list {
    display: grid;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin-top: 20px;
    gap: 10px 25px;
}

.main__wrapper-list.tagged {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
}

.main__wrapper-item {
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-template-columns: 1fr auto;
    padding: 5px;
    font-size: 1.75rem;
}

.main__wrapper-item svg {
    width: 18px;
}

.main__wrapper-item .link {
    font-size: 18px;
}

.main__wrapper-item small {
    font-size: 14px;
}

.main .stories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 40px;
    font-weight: 900;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}

.main .stories::after,
.main .stories::before {
    content: "";
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0%;
            flex: 1 1 0%;
    border-bottom: 3px solid #3c3c3b;
}

.main .stories::after {
    margin-left: 30px;
}

.main .stories::before {
    margin-right: 30px;
}

.main .bio-sections {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.main .bio-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 48%;
}

.main .bio-section small {
    padding-top: 5px;
    font-weight: 900;
    font-size: 18px;
    color: #bfd0e3;
}

.main .bio-text {
    margin-top: 10px;
    font-size: 16px;
    line-height: 20px;
}

.main .social {
    margin-top: 10px;
}

.main .avatar {
    margin-right: 25px;
    width: 150px;
    height: 150px;
    min-width: 150px;
    min-height: 150px;
    -webkit-box-shadow: #c2cad6 0px 8px, #c2cad6 0px -8px, #c2cad6 8px 0px, #c2cad6 -8px 0px;
            box-shadow: #c2cad6 0px 8px, #c2cad6 0px -8px, #c2cad6 8px 0px, #c2cad6 -8px 0px;
}

.main .divider {
    margin: 15px;
    width: 2px;
    min-width: 2px;
    background: #c2cad6;
}

.main .reading-time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 48%;
}

.main .label {
    text-align: center;
    font-size: 18px;
    line-height: 28px;
}

.main u {
    position: relative;
    text-decoration: none;
}

.main u::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    height: 4px;
    background: -webkit-gradient(linear, left top, right top, from(#ff8100), color-stop(#fff824), color-stop(#8aff8a), color-stop(#0abbff), to(#cc3de6));
    background: -o-linear-gradient(left, #ff8100, #fff824, #8aff8a, #0abbff, #cc3de6);
    background: linear-gradient(90deg, #ff8100, #fff824, #8aff8a, #0abbff, #cc3de6);
}

.main .time {
    padding: 10px 0;
    font-weight: 900;
    font-size: 24px;
    text-align: center;
}

.card {
    display: grid;
    grid-template-rows: minmax(80px, auto) 1fr auto;
    border: 2px solid #f6f7f9;
    border-radius: 2px;
    gap: 0;
}

.card .title-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    overflow: hidden;
    border-radius: 2px;
    cursor: pointer;
}

.card h2 {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin: 0;
    padding: 10px;
    font-size: 1.2rem;
}

.card .card-reactions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-size: 12.8px;
}

.card .image-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    overflow: hidden;
    border-radius: 2px;
    cursor: pointer;
}

.card .image-wrapper > a {
    display: block;
    width: 100%;
    height: 200px;
}

.card a {
    text-decoration: none;
    color: #3c3c3b;
    -webkit-transition: color 200ms ease 0s;
    -o-transition: color 200ms ease 0s;
    transition: color 200ms ease 0s;
}

.card .image-wrapper > a img {
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
}

.card .image-wrapper img {
    max-width: 100%;
    -webkit-transition: -webkit-transform 200ms ease-in-out 0s;
    transition: -webkit-transform 200ms ease-in-out 0s;
    -o-transition: transform 200ms ease-in-out 0s;
    transition: transform 200ms ease-in-out 0s;
    transition: transform 200ms ease-in-out 0s, -webkit-transform 200ms ease-in-out 0s;
}

.card .tag {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 1;
    margin: 0;
}

.card .image-wrapper:hover img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}

.card .tag-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 10px 10px 0;
    padding: 10px;
    width: auto;
    -webkit-box-shadow: #c2cad6 0 0.2em, #c2cad6 0 -0.2em, #c2cad6 0.2em 0, #c2cad6 -0.2em 0;
            box-shadow: #c2cad6 0 0.2em, #c2cad6 0 -0.2em, #c2cad6 0.2em 0, #c2cad6 -0.2em 0;
    font-weight: 700;
    line-height: 1em;
    text-decoration: none;
    color: #3c3c3b;
    background: #f6f7f9;
}

.card .tag-link:hover {
    -webkit-box-shadow: #00bb00 0 0.2em, #00bb00 0 -0.2em, #00bb00 0.2em 0, #00bb00 -0.2em 0;
            box-shadow: #00bb00 0 0.2em, #00bb00 0 -0.2em, #00bb00 0.2em 0, #00bb00 -0.2em 0;
    color: #3c3c3b;
    background: lime;
    -webkit-transition: all 120ms ease-in-out 0s;
    -o-transition: all 120ms ease-in-out 0s;
    transition: all 120ms ease-in-out 0s;
}

.card .meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px 10px 0;
}

.card .profile {
    display: grid;
    place-items: start;
    -ms-flex-line-pack: start;
        align-content: start;
    grid-template-columns: 50px 1fr;
    margin-bottom: 0;
    padding-right: 10px;
    gap: 20px;
}

.card .profile > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: #fff;
}

.card .profile > a > img {
    max-width: 50px;
    -webkit-box-shadow: #c2cad6 0 0.2em, #c2cad6 0 -0.2em, #c2cad6 0.2em 0, #c2cad6 -0.2em 0;
            box-shadow: #c2cad6 0 0.2em, #c2cad6 0 -0.2em, #c2cad6 0.2em 0, #c2cad6 -0.2em 0;
}

.card .meta .time {
    font-size: 0.8rem;
    text-align: right;
}

.card h3 {
    margin: 0 0 2rem;
    font-size: 1.6rem;
}

.card h3 small {
    display: block;
    margin-top: 0.5rem;
    font-size: 12px;
}

.card .card-reactions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #f6f7f9;
    padding: 5px 0;
    width: 100%;
}

.card .card-reactions .emojis img {
    margin-right: 8px;
    height: 16px;
}

.pagination__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    list-style: none;
    margin: 20px 0;
    font-size: 1.2rem;
}

.pagination__item {
    margin-bottom: 10px;
}

.pagination__item + .pagination__item {
    margin-left: 10px;
}

.pagination__link {
    display: block;
    border: 1px solid #c2cad6;
    border-radius: 2px;
    padding: 5px;
    text-decoration: none;
    color: #3c3c3b;
    -webkit-transition: background-color 0.2s ease-out 0s;
    -o-transition: background-color 0.2s ease-out 0s;
    transition: background-color 0.2s ease-out 0s;
}

.pagination__link:hover {
    color: #fff;
    background-color: #0b0;
}

.pagination__link.selected {
    border-color: #0b0;
    color: #fff;
    background-color: #0b0;
}

.button-join__container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: 30px;
    gap: 10px;
}

.button-join__layout {
    grid-column: 2 / -2;
    text-align: center;
}

.button-join__layout a {
    display: inline-block;
    margin-bottom: 10px;
    border: 4px solid lime;
    padding: 0.25em 0.5em;
    font-weight: 700;
    font-size: 30px;
    color: lime;
    background-color: #212428;
}

.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px;
    width: 100%;
    background-color: #f6f7f9;
}

.footer__menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 5px 0;
}

.footer__menu-item {
    margin-right: 20px;
}

.footer__follow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.footer__follow-item {
    margin: 0 5px;
}

.footer__follow-item img {
    width: 20px;
    height: 20px;
}

@media only screen and (max-width: 1200px) {
    .main__top {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .main__bottom {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .main__bottom-item.looking {
        margin-top: 10px;
    }

    .main__bottom-item.text {
        max-width: 100%;
    }
}

@media only screen and (max-width: 968px) {
    .burger {
        display: block;
    }
}

@media only screen and (max-width: 815px) {
    .main .bio-section {
        width: 100%;
    }

    .main .divider {
        display: none;
    }

    .main .reading-time {
        margin-top: 10px;
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .header__logo-desktop {
        display: none;
    }

    .header__logo-mobile {
        display: block;
    }
}

@media only screen and (max-width: 700px) {
    .header__social {
        display: none;
    }

    .header__btns .btn.start {
        display: none;
    }

    .header__bottom {
        display: none;
    }

    .burger__menu {
        display: block;
    }

    .main {
        padding-top: 50px;
    }
}

@media only screen and (max-width: 414px) {
    .main .avatar {
        width: 75px;
        height: 75px;
        min-width: 75px;
        min-height: 75px;
    }
}