.card {
	display: grid;
	grid-template-rows: minmax(80px, auto) 1fr auto;
	border: 2px solid rgb(246, 247, 249);
	border-radius: 2px;
	gap: 0;

	.title-wrapper {
		position: relative;
		display: flex;
		align-items: flex-end;
		overflow: hidden;
		border-radius: 2px;
		cursor: pointer;
	}

	h2 {
		align-self: flex-end;
		margin: 0;
		padding: 10px;
		font-size: 1.2rem;
	}

	.card-reactions {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		font-size: 12.8px;
	}

	.image-wrapper {
		position: relative;
		display: flex;
		align-items: flex-end;
		overflow: hidden;
		border-radius: 2px;
		cursor: pointer;
	}

	.image-wrapper > a {
		display: block;
		width: 100%;
		height: 200px;
	}

	a {
		text-decoration: none;
		color: rgb(60, 60, 59);
		transition: color 200ms ease 0s;
	}

	.image-wrapper > a img {
		width: 100%;
		height: 200px;
		object-fit: cover;
	}

	.image-wrapper img {
		max-width: 100%;
		transition: transform 200ms ease-in-out 0s;
	}

	.tag {
		position: absolute;
		right: 10px;
		bottom: 10px;
		z-index: 1;
		margin: 0;
	}

	.image-wrapper:hover img {
		transform: scale(1.05);
	}

	.tag-link {
		display: flex;
		align-items: center;
		margin: 0 10px 10px 0;
		padding: 10px;
		width: auto;
		box-shadow: rgb(194, 202, 214) 0 0.2em, rgb(194, 202, 214) 0 -0.2em, rgb(194, 202, 214) 0.2em 0, rgb(194, 202, 214) -0.2em 0;
		font-weight: 700;
		line-height: 1em;
		text-decoration: none;
		color: rgb(60, 60, 59);
		background: rgb(246, 247, 249);
	}

	.tag-link:hover {
		box-shadow: rgb(0, 187, 0) 0 0.2em, rgb(0, 187, 0) 0 -0.2em, rgb(0, 187, 0) 0.2em 0, rgb(0, 187, 0) -0.2em 0;
		color: rgb(60, 60, 59);
		background: rgb(0, 255, 0);
		transition: all 120ms ease-in-out 0s;
	}

	.meta {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 15px 10px 0;
	}

	.profile {
		display: grid;
		place-items: start;
		align-content: start;
		grid-template-columns: 50px 1fr;
		margin-bottom: 0;
		padding-right: 10px;
		gap: 20px;
	}

	.profile > a {
		display: flex;
		align-items: flex-start;
		background-color: $white;
	}

	.profile > a > img {
		max-width: 50px;
		box-shadow: rgb(194, 202, 214) 0 0.2em, rgb(194, 202, 214) 0 -0.2em, rgb(194, 202, 214) 0.2em 0, rgb(194, 202, 214) -0.2em 0;
	}

	.meta .time {
		font-size: 0.8rem;
		text-align: right;
	}

	h3 {
		margin: 0 0 2rem;
		font-size: 1.6rem;
	}

	h3 small {
		display: block;
		margin-top: 0.5rem;
		font-size: 12px;
	}
}
