.header {
	position: fixed;
	z-index: 100;
	width: 100%;
	background-color: $green-tagged-header;

	&__top {
		display: flex;
		justify-content: space-between;
		width: 100%;
		height: 100%;
	}

	&__top-item {
		display: flex;
		align-items: center;
		//height: 100%;
	}

	&__logo {
		margin-left: 20px;
	}

	&__logo-desktop {
		width: 248px;
		height: 40px;

		@media only screen and (max-width: 800px) {
			display: none;
		}
	}

	&__logo-mobile {
		display: none;
		width: 37px;
		height: 40px;

		@media only screen and (max-width: 800px) {
			display: block;
		}
	}

	&__social,
	&__top-item-inner {
		display: flex;
	}

	&__social {
		@media only screen and (max-width: 700px) {
			display: none;
		}
	}

	&__social-item {
		padding: 10px;

		img {
			width: 20px;
			height: 20px;
		}
	}

	&__btns {
		display: flex;

		.btn {
			margin: 0 5px;
			border: 1px solid transparent;
			padding: 0 10px;
			font-size: 14px;
			color: $white;

			&:hover {
				border: 1px solid $shark;
				background-color: $screamin-green;
			}

			&.start {
				@media only screen and (max-width: 700px) {
					display: none;
				}
			}
		}
	}

	&__theme {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 60px;
		height: 60px;
		background-color: $japanese-laurel;
		cursor: pointer;

		svg {
			width: 30px;
			height: 30px;
		}
	}

	&__theme-dark {
		display: none;
	}

	&__bottom {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $deep-fir;

		@media only screen and (max-width: 700px) {
			display: none;
		}
	}

	&__menu-list {
		display: flex;
	}

	&__menu-item {
		padding: 0 10px;
		line-height: 43px;
		color: $white;
	}
}

.burger__menu {
	display: none;
	padding: 0 10px;


	.burger {
		background-color: $tuatara;

		&::before,
		&::after {
			background-color: $tuatara;
		}

		&.burger-active {
			background-color: transparent;
		}
	}
}
